<!-- Launch file to start the test_reference_generator node -->
<launch>
<!-- MAXON -->
    <group>
            <param name="duration" value="15.0" type="double"/>

            <param name="op_mode" value="9" type="int"/>
            <param name="amplitude" value="500" type="double" /> <!-- counts/s, ~7.3 rpm peak -->
            <param name="signal" value="sine" type="string"/>

            <param name="sample_rate" value="100" type="double"/>
            <param name="frequency" value="0.4" type="double"/> <!-- 2.5 s period, half of before -->
            <param name="offset" value="0" type="double"/>
            <param name="phase_shift" value="0.0" type="double"/>

            <param name="plot" value="true" type="bool"/>
            <param name="save_data" value="true" type="bool"/>
            <param name="save_data_path" value="$(find ethercat_ros_configurator)/test_data" type="string"/>

        <node name="test_ref_generator_bottom" pkg="ethercat_ros_configurator" type="test_reference_generator.py" output="screen">
            <param name="name" value="maxon_test_bottom" type="string"/>
            <param name="command_topic" value="/ethercat_master/Maxon_Motor_bottom/command" type="string"/>
            <param name="status_topic" value="/ethercat_master/Maxon_Motor_bottom/reading" type="string"/>
        </node>

        <node name="test_ref_generator_top" pkg="ethercat_ros_configurator" type="test_reference_generator.py" output="screen">
            <param name="name" value="maxon_test_top" type="string"/>
            <param name="command_topic" value="/ethercat_master/Maxon_Motor_top/command" type="string"/>
            <param name="status_topic" value="/ethercat_master/Maxon_Motor_top/reading" type="string"/>
        </node>

            <param name="amplitude_limit_min" value="-100000" type="double"/>
            <param name="amplitude_limit_max" value="100000" type="double"/>
            <param name="position_limit" value="52000" type="double"/>
    </group>

    <!-- ranges -->
    <!-- op_mode: 8 = cyclic synchronous position , 9 = cyclic synchronous velocity , 10 = cyclic synchronous torque -->
    <!-- position: rail confines [-55296, 55296] set limit to 52k -->
    <!-- velocity: -15000 to 15000 this is very fast, i'd limit to max 10000 -->
    <!-- torque (value in promille): not really tested -->

    <!-- Signals:
        sine
        square
        triangle
        sawtooth
        smoothstep
        custom
        constant
        profile_position
     -->
</launch>